@use '../../../../styles' as ds;

.specimen {
  &,
  &--wide {
    border: 0.1rem solid ds.color('slate-300');
    border-radius: 2rem;
    background: ds.color('white');
    padding: 2rem;
    min-width: 0;
  }

  > h3,
  &--wide > h3 {
    font-size: ds.font-size('caption');
    color: ds.color('gray-500');
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }

  &__sample {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &--wide {
    margin-block: 2.4rem;
  }
}
