@use '../../../../styles' as ds;

.chapter {
  border-top: 0.1rem solid ds.color('slate-300');
  padding-top: 3.2rem;
  margin-bottom: 8rem;
  scroll-margin-top: 3.2rem;

  &__title {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2.4rem;

    > span {
      font-size: ds.font-size('caption');
      color: ds.color('gray-500');
    }

    h2 {
      text-transform: none;
      font-size: ds.font-size('chapter-title');
    }
  }
}
