.icon {
  flex: 0 0 auto;
  display: inline-block;
  width: 2rem;
  height: 2rem;

  &--size-sm {
    width: 1.6rem;
    height: 1.6rem;
  }

  &--size-lg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
