@use '../../../../styles' as ds;

.fields-section {
  display: grid;
  gap: 2.4rem;
  margin-block: 2.4rem;

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
  }

  @include ds.from(tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
