@use '../../../../styles' as ds;

.feature-card {
  border-radius: var(--radius-md);
  padding: 2.4rem 1.6rem;
  min-height: 34.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.4rem;

  p {
    margin-top: 1.6rem;
  }

  &--tone-cream {
    background: ds.color('yellow-50');
  }

  &--tone-mint {
    background: ds.color('green-100');
  }

  &--tone-peach {
    background: ds.color('orange-100');
  }

  &__image {
    height: 10rem;
    width: 13.2rem;
    object-fit: contain;
    object-position: left center;
  }
}
